*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
}
header{
    background: radial-gradient(circle, rgba(158,149,206,1) 45%, rgba(129,118,186,1) 98%);
    padding-top: 10px;
    border-bottom: 2px solid white;
}
.bannerInicio{
    display: flex;
    justify-content: space-between;
}
.bannerInicio h1{
    font-size: 4vh;
    font-family: "Freeman", sans-serif;
    color: aliceblue;
    
}
.bannerInicio img{
    width: 6%;
    margin: 15px 5% ;
    height: 25px;
    
}
.usuarios{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 8%;
}

.contenedorComentarios{
    width: 600px;
    margin-left: 5%;
}
.contenedorComentarios form{
    display: flex;
    flex-direction: column;
}
.contenedorComentarios button{
    background-color: rgb(132, 100, 163);
    color: aliceblue;
    width: 120px;
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
}
.contenedorUsuarios{
    width: 500px ;
    text-align: center;
} 
.contenedorUsuarios h2{
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: large;
}
.contenedorUsuarios h3{
    font-size: 3vh;
}

.boxUsuarios{
    margin: auto;
    display: flex;
    padding: 3%;
    justify-content: center;
}
.fotoPerfil{
    height: 50px;
    margin-right: 10%;
}
.fotoPerfil img{
    border-radius:50%;
    width: 150px;
}
.navbar-expand-lg{
    background-color: rgb(132, 100, 163);
    width: 120px;
    border-radius: 10px;
    font-size: 15px;
    padding: 0 ;
}
.navbar-expand-lg a{
    color: aliceblue;
    margin-left: 12px;
   
}
/*Tarjeta Comentario*/
.cajaComentarios{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.comentarios{
    margin: auto;
    display: flex;
    flex-direction: column;
}
.tarjetaComentarios{
    display: flex;
    margin-bottom: 8%;
    width:600px ;
    min-height: 250px;
   
    padding: 3% 3% 1% 3%;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);

}
.datosComentarios{
    width: 450px;
}
.datosComentarios p{
    min-height: 150px;
    max-width: 320px;
    word-wrap: break-word; /* Rompe palabras largas */
    overflow-wrap: break-word;
    font-size: medium;
    font-family: "Ubuntu", sans-serif;
    overflow-y: auto;
    border-bottom: 2px solid rgb(148, 147, 147);
}
.datosComentarios h4{
    font-size: small;
}
.datosComentarios h5{
    padding-bottom: 4%;
    
    font-size: x-small;
    
}


.fotoComentario{
    width: 150px;
    height: 150px;
    border-radius:50%;
    margin: 30px 10px 0px 15px;
}
/*.datosComentarios button{
    margin-top: 2%;
    border-radius: 45%;
    padding: 2% 3%;
    background-color: rgb(211, 223, 223);
    cursor: pointer;
}
